<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
       
    </ul>
</nav>
<div class="users index large-9 medium-8 columns content">
    <h3><?= __('Reports') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
             
            </tr>
        </thead>
        <tbody>
            
            <tr>
                 
            </tr>
          
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
             
        </ul>
        <p> </p>
    </div>
</div>
