<?php
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         0.10.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */

$cakeDescription = 'CakePHP: the rapid development php framework';
?>
<!DOCTYPE html>
<html>
<head>
    <?= $this->Html->charset() ?>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <?= $cakeDescription ?>:
        <?= $this->fetch('title') ?>
    </title>
    <?= $this->Html->meta('icon') ?>

    <?= $this->Html->css('base.css') ?>
    <?= $this->Html->css('cake.css') ?>

    <?= $this->fetch('meta') ?>
    <?= $this->fetch('css') ?>
    <?= $this->fetch('script') ?>
</head>
<body>
    <nav class="top-bar expanded" data-topbar role="navigation">
        <ul class="title-area large-3 medium-4 columns">
            <li class="columns name">
                <h1><a href=""><?= $this->fetch('title') ?></a></h1>
            </li>
        </ul>
        	
       <!-- <div class="top-bar-section">
            <ul class="right">
                <li><a target="_blank" href="http://book.cakephp.org/3.0/">Documentation</a></li>
                <li><a target="_blank" href="http://api.cakephp.org/3.0/">API</a></li>
            </ul>
        </div>-->
         <?php if($loggedIn) : ?>
         <div class="top-bar-section">
	        <ul class="">
	           <li><?= $this->Html->link('Dashboard', ['controller' => 'dashboard', 'action' => 'index']);?></li>
	           <li><?= $this->Html->link('Manage Users', ['controller' => 'users', 'action' => 'index']);?></li>
	           <li><?= $this->Html->link('Thaali', ['controller' => 'thaali', 'action' => 'index']);?></li>
	           <li><?= $this->Html->link('Deliveries', ['controller' => 'deliveries', 'action' => 'index']);?></li>
	           <li><?= $this->Html->link('Distribution Centers', ['controller' => 'distribution-center', 'action' => 'index']);?></li>
	           <li><?= $this->Html->link('Miqats', ['controller' => 'miqat', 'action' => 'index']);?></li>
	           <li><?= $this->Html->link('Report', ['controller' => 'report', 'action' => 'index']);?></li>
	        </ul>
	    </div>
	     <?php endif;?>            
        <div class="top-bar-section">
            
            <ul class="right">
            <?php if($loggedIn) : ?>
           		
                <li><?= $this->Html->link('Logout', ['controller' => 'users', 'action' => 'logout']);?></li>
            <?php else : ?>    
                <li><?= $this->Html->link('Register', ['controller' => 'users', 'action' => 'Register']);?></li>
            <?php endif;?>    
            </ul>
        </div>
    </nav>
    <?= $this->Flash->render() ?>
    <div class="container clearfix">
        <?= $this->fetch('content') ?>
    </div>
    <footer>
    </footer>
</body>
</html>
