<!DOCTYPE html>
<html>
<head>
    <?= $this->Html->charset() ?>
</head>    
 <body>
   
    <div class="container clearfix">
        <?= $this->fetch('content') ?>
    </div>
     
     
  
    
</body>
</html>
